
body {
  background: #eee;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  .backgroundimggallery {
    height: 100%;
    width: 100%;
    max-width: 900px;
    background-image: url("../images/ophotos/9.JPG");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: local;
    background-attachment: fixed;
  }
}

    .dgallerycontent {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      padding-left: 20px;
      padding-right: 20px;
      padding-top: 5px;
    }

    .dphoto {
      margin: 10px 0;
      width: 220px;
      height: 100%;
      background: rgba(255, 255, 255, 0.35);
      padding: 5px;
      opacity: 0.9;
      border-radius: 5px;
      border: 1px solid rgba(255, 255, 255, 0.35);
      box-sizing: border-box;
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
      transition: 0.3s all ease-in-out;
      will-change: transform;
      align-items: flex-start;
    }

    .dphoto img {
      flex-basis: 100%;
      width: 210px;
      max-height: 270px;
    }

    .dphoto figcaption {
      text-align: center;
    }

    .dphoto:hover {
      opacity: 1;
      transform: scale(1.05);
    }

    .fullScreen {
      position: fixed;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      z-index: 1;
      background: rgba(255, 255, 255, 0.7);
      padding-top: 50px;
    }

    .fullScreen img {
      display: block;
      margin: 0 auto;
      width: 300px;
      height: auto;
    }
    //.fullScreen .close {
    //  position: relative;
    //  display: block;
    //  margin: auto;
    //  color: red;
    //  height: 50px;
    //  width: 100px;
    //  opacity: .7;
    //}
    //.fullScreen .nextPicture {
    //  position: relative;
    //  display: block;
    //  margin: auto;
    //  color: red;
    //  height: 50px;
    //  width: 100px;
    //  opacity: .7;
    //}
    //.fullScreen .prevPicture {
    //  position: relative;
    //  display: block;
    //  margin: auto;
    //  color: red;
    //  height: 50px;
    //  width: 100px;
    //  opacity: .7;
    //}

@media (min-width: 720px){

  body {
    background: #eee;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    .backgroundimggallery {
      min-height: 1000px;
      height: 100%;
      width: 100%;
      background-image: url("../images/ophotos/9.JPG");
      background-size: cover;
      background-repeat: no-repeat;
      background-position: fixed;
      background-attachment: fixed;
    }
  }

  .dgallerycontent {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
  }

  .dphoto {
    margin: 10px 0;
    width: 220px;
    height: 100%;
    background: rgba(255, 255, 255, 0.35);
    padding: 5px;
    opacity: 0.9;
    border-radius: 5px;
    border: 1px solid rgba(255, 255, 255, 0.35);
    box-sizing: border-box;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    transition: 0.3s all ease-in-out;
    will-change: transform;
    align-items: flex-start;
  }

  .dphoto img {
    flex-basis: 100%;
    width: 210px;
    max-height: 270px;
  }

  .dphoto figcaption {
    margin-top: 5px;
    text-align: center;
  }

  .dphoto:hover {
    opacity: 1;
    transform: scale(1.05);
  }

  .fullScreen {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 1;
    background: rgba(255, 255, 255, 0.7);
    padding-top: 50px;
  }

  .fullScreen img {
    display: block;
    margin: 0 auto;
    width: 500px;
    height: auto;
  }
  //.fullScreen .close {
  //  position: relative;
  //  display: block;
  //  margin: auto;
  //  color: red;
  //  height: 50px;
  //  width: 100px;
  //  opacity: .7;
  //}
  //.fullScreen .nextPicture {
  //  position: relative;
  //  display: block;
  //  margin: auto;
  //  color: red;
  //  height: 50px;
  //  width: 100px;
  //  opacity: .7;
  //}
  //.fullScreen .prevPicture {
  //  position: relative;
  //  display: block;
  //  margin: auto;
  //  color: red;
  //  height: 50px;
  //  width: 100px;
  //  opacity: .7;
  //}

}
