
body {
  background: #eee;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.gallerycontent{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-left: 20px;
  padding-right: 20px;
}

.photo {
  margin: 20px 0;
  width: 120px;
  background: white;
  padding: 10px;
  opacity: 0.7;
  border-radius: 5px;
  border: 1px solid silver;
  box-sizing: border-box;

  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;

  transform: rotate(5deg);
  transition: 0.3s all ease-in-out;
  will-change: transform;
  align-items: flex-start;
}

.photo img {
  flex-basis: 100%;
  width: 100px;
}

.photo figcaption {
  margin-top: 10px;
}

.photo:nth-child(even) {
  transform: rotate(-2deg) scale(0.8);
}

.photo:hover {
  opacity: 1;
  transform: scale(1.1);
}