
body {
  background: #eee;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  .backgroundimggallery {
    height: 100%;
    width: 100%;
    max-width: 900px;
    background-image: url("../images/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: local;
    background-attachment: fixed;
  }
}

.gallerycontent{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-left: 20px;
  padding-right: 20px;
}

.photo {
  margin: 15px 0;
  width: 220px;
  background: white;
  padding: 5px;
  opacity: 0.85;
  border-radius: 5px;
  border: 1px solid silver;
  box-sizing: border-box;

  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;

  //transform: rotate(5deg);
  transition: 0.3s all ease-in-out;
  will-change: transform;
  align-items: flex-start;
}

.photo img {
  flex-basis: 100%;
  width: 210px;
  max-height: 280px;
}

.photo figcaption {
  margin-top: 5px;
  text-align: center;
}

//.photo:nth-child(even) {
//  transform: rotate(-2deg) scale(0.8);
//}

.photo:hover {
  opacity: 1;
  transform: scale(1.05);
}

//@media (min-width: 720px){
//
//  body {
//    .backgroundimggallery {
//      height: 100%;
//      width: 100%;
//      background-image: url("../images/background.jpg");
//      background-size: cover;
//      background-repeat: no-repeat;
//      background-position: local;
//      background-attachment: fixed;
//    }
//  }